/* Universal style */
html {
  background-color: black;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}
/* Styles for the header */
.header {
  position: fixed;
  display: flex;
  height: 69px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 10;
}
.logo {
  display: inline;
  height: 50px;
}
.header .logo {
  display: inline-flex;
  flex-grow: 1;
  padding-left: 10px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
/* Next: styles for the mission */
.mission {
  display: inline-block;
  margin-top: 70px;
  width: 1200px;
  height: 700px;
  justify-content: center;
  border-color: white;
  background-image: url("../../resources/images/img-mission-background.jpg");
}
.statement {
  display: block;
  margin: auto;
  width: 100%;
  background-color: black;
}
/* Styles for the featured items */
.tealist {
  display: block;
  width: 1000px;
  margin: auto;
  justify-content: center;
}
.featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.special {
  display: flex;
  flex-direction: column;
}
.special img {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}
/* Styles for the locations */
.locations {
  display: flex;
  width: 1200px;
  height: 500px;
  margin: auto;
  background-color: inherit;
  background-image: url("../../resources/images/img-locations-background.jpg");
  flex-direction: row;
  align-content: center;
}
.addressblock {
  display: block;
  width: 300px;
  height: 300px;
  margin: auto;
  background-color: black;
  opacity: 1;
}
/* Styles for the footer */
.footer {
  display: block;
  height: 200px;
  align-items: center;
}
.copyright {
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}
