/* Universal style */
html {
  background-color: black;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}
/* Styles for the header */
.header {
  position: fixed;
  display: flex;
  height: 69px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 10;
}
.logo {
  display: inline;
  height: 50px;
  width: 75px;
}
.header .logo {
  display: inline-flex;
  flex-grow: 1;
  padding-left: 10px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
/* Next: styles for the mission */
.mission {
  display: inline-block;
  margin-top: 70px;
  width: 1200px;
  height: 700px;
  justify-content: center;
  border-color: white;
  background-image: url("../../resources/images/img-mission-background.jpg");
}
.mission .statement {
  display: block;
  margin-top: 70px;
  width: 100%;
  background-color: black;
  padding: auto;
}
/* Styles for the featured items */
.featured {
  display: inline-block;
  width: 1000px;
  justify-content: space-around;
}
.item {
  display: block;
}
img {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}
/* Styles for the locations */
.locations {
  display: inline-block;
  width: 1200px;
  height: 500px;
  background-color: inherit;
  background-image: url("../../resources/images/img-locations-background.jpg");
  justify-content: center;
  align-content: center;
}
.addressblock {
  display: block;
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 1;
}
/* Styles for the footer */
.footer {

}
.copyright {
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}
