/* Universal style */
body {
  background-color: black;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  margin: auto;
  margin-top: 0px;
}
h2, h3, h4 {
  margin: 0px;
  padding: 10px;
}
/* Styles for the header */
.header {
  display: flex;
  height: 69px;
  width: 100%;
  top: 0px;
  position: fixed;
  align-items: center;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 20;
}
.header .logo {
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
}
.header nav {
  margin-right: 10px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
a {
  color: seashell;
}
/* Next: styles for the mission statement */
.mission {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 770px;
  margin: 70px auto 0px auto;
  justify-content: center;
  border-color: white;
  background-image: url("../../resources/images/img-mission-background.jpg");
  background-position: bottom center;
}
.statement {
  width: 100%;
  background-color: black;
}
.mission h2, h4 {
  margin: 14px;
}
/* Styles for the featured items */
.tealist {
  /*display: block;*/
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}
.featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.special {
  display: flex;
  flex-direction: column;
}
.special img {
  display: block;
  height: 200px;
  margin: 10px;
}
.special span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}
/* Styles for the locations */
#locations {
  width: 1200px;
  height: 500px;
  padding-top: 70px;
  margin: 0px auto;
  background-color: grey;
  background-image: url("../../resources/images/img-locations-background.jpg");
}
#locations .flex-container {
  width: 1100px;
  margin: auto;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-container.locations {
  padding-top: 5px;
}
.addressblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 5px 20px;
  flex-basis: 280px;
  background-color: black;
  opacity: 1.0;
}
/* Styles for the footer */
.footer {
  height: 200px;
}
.copyright {
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}
